{% extends 'base.html.twig' %}

{% form_theme formCreationProduit 'bootstrap_4_layout.html.twig' %}

{% block body %}

<input class="retour_arriere" type="image" src="{{ asset('images/retour.png') }}" onClick="document.location.href = document.referrer" />

    <h3 class="titre">
      {% if editMode %}                         <!---   on vérifie ici s'il s'agit d'une mofication d'un produit ou de sa création   ---->
        Modifier un produit
      {% else %}
          CREER UN NOUVEAU PRODUIT
      {% endif %}
    </h3>
    </br></br>

<div class="formulaireCreaProd">

    {{ form_start (formCreationProduit) }}                <!---   form_start permet la création du formulaire associé à la création du produit   ---->
                                                          <!---   quand on affiche la page source associée à ce code, on poura remarquer que ces fonctions twig vont associées des balises html aux éléments ainsi que des id  ---->
      <div class="creaProdGauche">

        {{ form_row(formCreationProduit.reference, {'label' : 'Référence', 'attr': {'placeholder': ""}}) }}     <!--- form_row permet la mise en place d'un champs de saisie où l'on place le label adapté ainsi qu'un placeholder si nécessaire  -->
                                                                                                                <!--- formCreationProduit.xxx permet de faire coresspondre le champ de saisie avec l'info coresspondante à mettre en base de données  -->
        {{ form_row(formCreationProduit.marque, {'attr': {'placeholder': ""}}) }}                               <!--- 'attr' récupère le nom de l'élément de la table -->

        {{ form_row(formCreationProduit.modele, {'attr': {'placeholder': ""}}) }}

        {{ form_row(formCreationProduit.categorie, {'label' : 'Catégorie', 'attr': {'placeholder': ""}}) }}

        {{ form_row(formCreationProduit.prix, {'attr': {'placeholder': ""}}) }}

      </div>

      <div class="choixNbImg">

        {{ form_row(formCreationProduit.image, {'attr': {'placeholder': ""}}) }}

      </div>

      <hr class="sepa">

      <div class="poidVolDim">

        {{ form_row(formCreationProduit.poids, {'attr': {'placeholder': ""}}) }}

        {{ form_row(formCreationProduit.dimension, {'attr': {'placeholder': "(L)cm X (l)cm X (h)cm"}}) }}

        {{ form_row(formCreationProduit.matiere, {'attr': {'placeholder': ""}}) }}

        {{ form_row(formCreationProduit.description, {'attr': {'placeholder': ""}}) }}

      </div>

      <div class="colorProduitCrea">

        {{ form_row(formCreationProduit.couleur, {'attr': {'placeholder': ""}}) }}

        <input type="color" name="" value="">

      </div>


      <button type="submit" class"btn btn-success btnValProd" name="button">
        {% if editMode %}                   <!---   on vérifie ici s'il s'agit d'une mofication d'un produit ou de sa création   ---->
        Enregistrer                         <!---   le bouton va donc valider et exécuter l'ajout ou la modification de l'élément en BD  ---->
        {% else %}
        Créer
        {% endif %}
      </button>

  {{ form_end(formCreationProduit) }}                  <!--- form_end clôture le formulaire  -->

</div>

{% endblock %}
