{% extends 'base.html.twig' %}

{% form_theme formCreationProduit 'bootstrap_4_layout.html.twig' %}

{% block body %}

<input class="retour_arriere" type="image" src="{{ asset('images/retour.png') }}" onClick="document.location.href = document.referrer" />

    <h3 class="titre">
      {% if editMode %}
        Modifier un produit
      {% else %}
          Créer un produit
      {% endif %}
    </h3>
    </br></br>

    {{ form_start (formCreationProduit) }}

    <div class="creaProdGauche">

      {{ form_row(formCreationProduit.reference, {'attr': {'placeholder': ""}}) }}

      {{ form_row(formCreationProduit.marque, {'attr': {'placeholder': ""}}) }}

      {{ form_row(formCreationProduit.modele, {'attr': {'placeholder': ""}}) }}

      {{ form_row(formCreationProduit.categorie, {'attr': {'placeholder': ""}}) }}

      {{ form_row(formCreationProduit.prix, {'attr': {'placeholder': ""}}) }}

    </div>

    <div class="choixNbImg">

      {{ form_row(formCreationProduit.image, {'attr': {'placeholder': ""}}) }}

    </div>

    <hr class="sepa">

    <div class="poidVolDim">

      {{ form_row(formCreationProduit.poids, {'attr': {'placeholder': ""}}) }}

      {{ form_row(formCreationProduit.dimension, {'attr': {'placeholder': "(L)cm X (l)cm X (h)cm"}}) }}

      {{ form_row(formCreationProduit.matiere, {'attr': {'placeholder': ""}}) }}

      {{ form_row(formCreationProduit.description, {'attr': {'placeholder': ""}}) }}

    </div>

    <div class="colorProduitCrea">

      {{ form_row(formCreationProduit.couleur, {'attr': {'placeholder': ""}}) }}

    </div>


    <button type="submit" class"btn btn-success" name="button">
      {% if editMode %}
        Enregistrer
      {% else %}
          Créer
      {% endif %}
    </button>

    {{ form_end(formCreationProduit) }}

{% endblock %}
