{% extends 'base.html.twig' %}

{% block body %}

  <div class="form-group-lr">

    <h2>Modification du compte de {{ app.user.firstname }} {{ app.user.lastname }} </h2>
    <!-- Formulaire d'inscription avec les différents champs pré-remplis sauf pour le mot de passe -->
    {{ form_start(form) }}
      {{ form_row(form.firstname, {'label': 'Prénom : ','attr': {'placeholder': 'Prénom'}}) }}
      {{ form_row(form.lastname, {'label': 'Nom : ','attr': {'placeholder': 'Nom'}}) }}
      {{ form_row(form.email, {'label': 'Adresse mail : ','attr': {'placeholder': 'Email'}}) }}
      {{ form_row(form.telephone, {'label': 'Telephone : ','attr': {'placeholder': 'Telephone'}}) }}
      {{ form_row(form.adresse, {'label': 'Adresse : ','attr': {'placeholder': 'Adresse'}}) }}
      {{ form_row(form.password, {'label': 'Nouveau mot de passe : ','attr': {'placeholder': 'Mot de passe', 'autocomplete':'off'}}) }}
      {{ form_row(form.confirm_password, {'label': 'Confirmation du nouveau mot de passe : ','attr': {'placeholder': 'Répétez votre mot de passe', 'autocomplete':'off'}}) }}
      <button type="submit" name="modif" class="regist">Enregistrer les modifications</button>
    {{ form_end(form) }}
  </div>


{% endblock %}
