{% extends 'base.html.twig' %}

{% block body %}
  {% set prixTotal = 0 %}
  {% if produits is empty %}
    <p>Votre panier est vide !</p>
  {% else %}
    <h1 class="panier">Votre panier :</h1>
    {% for produit in produits %}
      {% set prixTotal = prixTotal + produit.produit.prix * produit.quantite %}
      <div class="delimitation">&nbsp;</div>
        <div class="produit_panier">

           <div class="panier-img">
                <h2> {{ produit.produit.marque }} {{ produit.produit.modele }} </h2>
                <img src="{{ produit.produit.image }}" alt"produit">
           </div>

           <div class="panier-qtt">
                <p>Quantité : {{ produit.quantite }} </p>
           </div>

           <div class="panier-prix">
                <p>Prix : {{ produit.produit.prix }}€ </p>
           </div>

           <div class="panier-suppr">
            <a href="{{ path('supprimerPanier', {'UserId': app.user.getId,'ProduitId': produit.produit.id  }) }}"><p>Retirer</p></a>
           </div>

        </div>
      </div>
    {% endfor %}
    <div class="panier-total">
      <p>Montant total : {{ prixTotal }} €</p>
    </div>
    <div class="panier-suppr">
      <a href="{{ path('infoCotation') }}">
        <p>Choisir Transporteur</p>
      </a>
    </div>
    <div class="panier-suppr">
      <a href="{{ path('payer', {'UserId': app.user.getId}) }}">
        <p>Passer commande<br>(vous serez redirigé vers PayPal)</p>
      </a>
    </div>
  {% endif %}
{% endblock %}
