{% extends 'base.html.twig' %}

{% form_theme formRegister 'bootstrap_4_layout.html.twig' %}

{% block body %}

{#    <h3>
      {% if editMode %}
        Modifier compte
      {% else %}
          NOUVEAU CLIENT
      {% endif %}
    </h3>
    </br></br>  #}

<div class="formulaire">
  <div class="gauche">
    <h3>Connexion</h3>
    <form class="connexion" action="index.html" method="post">
      Identifiant
      <input type="text" name="login" placeholder="Email">
      <br /><br />
      Mot de passe
      <input type="password" name="password" placeholder="Mot de passe">
      <br /><br />
      <a href="#">Mot de passe oublié ?</a>
      <br /><br />
      <button type="submit" classe="btn btn-success" name="conn">Se connecter</button>
    </form>
  </div>

          <!--___________________________________________________register_______________________________________________________-->

    <div class="droite">

      <h3>Création de compte</h3>

      {{ form_start (formRegister) }}

      {{ form_row(formRegister.nom, {'attr': {'placeholder': "Nom"}}) }}<br>
      {{ form_row(formRegister.prenom, {'attr': {'placeholder': "Prénom"}}) }}<br>
      {{ form_row(formRegister.email, {'attr': {'placeholder': "E-Mail"}}) }}<br>
      {{ form_row(formRegister.password, {'attr': {'placeholder': "Mot de passe"}}) }}<br>

      <button type="submit" class"btn btn-success" name="button">
        {% if editMode %}
          Enregistrer
        {% else %}
            Créer
        {% endif %}
      </button>

      {{ form_end(formRegister) }}

      <small id="fileHelp" class="form-text text-muted">En créant votre compte vous acceptez nos Conditions Générales de Vente</small></br></br>
      <small id="fileHelp" class="form-text text-muted">* Champs obligatoires (à défaut, la prise en compte de votre demande ne sera pas possible)</small>
    </div>
</div>

{% endblock %}
