{% extends 'base.html.twig' %}

{% block body %}

<article>

        <div class="content">

             <div class="titre-img">
                  <div class="mosaique">
                       <img class="petit" src="{{ produit.image }}" alt"sac_desigual">
                       <img class="petit" src="{{ produit.image }}" alt"sac_desigual">
                       <img class="petit" src="{{ produit.image }}" alt"sac_desigual">
                       <img class="petit" src="{{ produit.image }}" alt"sac_desigual">
                       <img class="petit" src="{{ produit.image }}" alt"sac_desigual">
                  </div>

                  <div class="principale">
                    <img id="grosPlan" src="{{ produit.image }}" alt"sac_desigual">
                  </div>

                  <div class="nomPrix">
                       <p id="marque">{{ produit.marque }}</p>
                       <p id="modele">{{ produit.modele }}</p>
                       <p id="prix">{{ produit.prix }}€</p>
                       <p id="couleur">Couleurs :</p>

                       <div class="choixCouleur">
                         <label class="orange">
                            <input type="radio" name="color" value="orange">
                            <div class="layer"></div>
                            <div class="button"><span></span></div>
                          </label>

                          <label class="amber">
                            <input type="radio" name="color" value="amber">
                            <div class="layer"></div>
                            <div class="button"><span></span></div>
                          </label>

                          <label class="lime">
                            <input type="radio" name="color" value="lime">
                            <div class="layer"></div>
                            <div class="button"><span></span></div>
                          </label>
                       </div>

                            {% if app.user %}
                            <p class="ajoutPanier"><a href="{{ path('ajouterPanier', {'ProduitId': produit.id, 'UserId': app.user.getId }) }}" class"button primary-button">Ajouter au panier</a></p>
                            {% else %}
                            <p class="ajoutPanier"><a href="{{ path('security_login') }}" class"button primary-button">Ajouter au panier</a></p>
                            {% endif %}
                  </div>

             </div>

             <div class="delimitation">&nbsp;</div>

             <div class="detail-table">

                  <div class="desProd">
                       <h3>Détail :</h3>
                       <p>{{ produit.description | raw }}</p>
                  </div>
                  <div>

                       <h3>Fiche technique :</h3>

                       <table class="table table-hover">
                            <tbody>
                                 <tr>
                                      <th scope="col">Référence</th>
                                      <td scope="col">{{ produit.reference }}</td>
                                 </tr>

                                 <tr class="table-active">
                                      <th scope="row">Poids</th>
                                      <td>{{ produit.poids }}Kg</td>
                                 </tr>
                                 <tr>
                                      <th scope="row">Modèle</th>
                                      <td>{{ produit.modele }}</td>
                                 </tr>
                                 <tr class="table-primary">
                                      <th scope="row">Matière</th>
                                      <td>{{ produit.matiere }}</td>
                                 </tr>
                                 <tr class="table-secondary">
                                      <th scope="row">Marque</th>
                                      <td>{{ produit.marque }}</td>
                                 </tr>
                                 <tr class="table-danger">
                                      <th scope="row">Dimensions (L*H*P)</th>
                                      <td>{{ produit.dimension }}</td>
                                 </tr>
                            </tbody>
                       </table>

                  </div>

             </div>

      </div>

</article>

{% endblock %}
