<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

          <input type="text" name="q" placeholder="Rechercher" class="input-text" maxlength="128" autocomplete="off">
          <input type="submit" value="" class="valider">

          <a class="logo" href="{{ path('accueil')}}"><img src="{{ asset('images/boreal_logo.png')}}"</a>

          <form class="compte">

            {% if not app.user %}
              <a href="{{ path('security_login') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte"></a>
            {% else %}
              <a href="{{ path('security_logout') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte"></a>
            {% endif %}
            <a href="{{ path('afficherPanier') }}"><img src="{{ asset('images/panier.svg') }}" alt="panier" style="width:15%;"></a>
          </form>

          <div class="topnav">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Category 1
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                   <div class="container">
                     <div class="row">
                       <div class="col-md-4">
                         <span class="text-uppercase text-white">Category 1</span>
                         <ul class="nav flex-column">
                         <li class="nav-item">
                           <a class="nav-link active" href="#">Active</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                       </ul>
                       </div>
                       <!-- /.col-md-4  -->
                       <div class="col-md-4">
                         <ul class="nav flex-column">
                         <li class="nav-item">
                           <a class="nav-link active" href="#">Active</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                       </ul>
                       </div>
                       <!-- /.col-md-4  -->
                       <div class="col-md-4">
                         <a href="">
                           <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                         </a>
                         <p class="text-white">Short image call to action</p>

                       </div>
                       <!-- /.col-md-4  -->
                     </div>
                   </div>
                   <!--  /.container  -->


                 </div>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Category 2
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                   <div class="container">
                     <div class="row">
                       <div class="col-md-4">
                         <span class="text-uppercase text-white">Category 2</span>
                         <ul class="nav flex-column">
                         <li class="nav-item">
                           <a class="nav-link active" href="#">Active</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                       </ul>
                       </div>
                       <!-- /.col-md-4  -->
                       <div class="col-md-4">
                         <ul class="nav flex-column">
                         <li class="nav-item">
                           <a class="nav-link active" href="#">Active</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                       </ul>
                       </div>
                       <!-- /.col-md-4  -->
                       <div class="col-md-4">
                         <a href="">
                           <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                         </a>
                         <p class="text-white">Short image call to action</p>

                       </div>
                       <!-- /.col-md-4  -->
                     </div>
                   </div>
                   <!--  /.container  -->


                 </div>
               </li>
               <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Category 3
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                   <div class="container">
                     <div class="row">
                       <div class="col-md-4">
                        <span class="text-uppercase text-white">Category 3</span>
                         <ul class="nav flex-column">
                         <li class="nav-item">
                           <a class="nav-link active" href="#">Active</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                       </ul>
                       </div>
                       <!-- /.col-md-4  -->
                       <div class="col-md-4">
                         <ul class="nav flex-column">
                         <li class="nav-item">
                           <a class="nav-link active" href="#">Active</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#">Link item</a>
                         </li>
                       </ul>
                       </div>
                       <!-- /.col-md-4  -->
                       <div class="col-md-4">

                         <a href="">
                           <img src="https://dummyimage.com/200x100/ccc/000&text=image+link" alt="" class="img-fluid">
                         </a>
                         <p class="text-white">Short image call to action</p>

                       </div>
                       <!-- /.col-md-4  -->
                     </div>
                   </div>
                   <!--  /.container  -->

                 </div>
               </li>
             </ul>
           </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('gestion') }}">Gestion du site</a>
            {% endif %}
          </div>


      </nav>
        <hr style="margin-bottom:50px;">

      <div class="container">
          {% block body %}{% endblock %}

      </div>

      {% block script %}{% endblock %}

    </body>

    <script>

    $(document).ready(function() {
        // executes when HTML-Document is loaded and DOM is ready

        // breakpoint and up
        $(window).resize(function(){
            if ($(window).width() >= 980){

              // when you hover a toggle show its dropdown menu
              $(".navbar .dropdown-toggle").hover(function () {
                 $(this).parent().toggleClass("show");
                 $(this).parent().find(".dropdown-menu").toggleClass("show");
               });

                // hide the menu when the mouse leaves the dropdown
              $( ".navbar .dropdown-menu" ).mouseleave(function() {
                $(this).removeClass("show");
              });

              // do something here
            }
        });
        // document ready
    });
    </script>

    <footer>
        <div class="footer_div">
          <ul>
            <div class="footer_info">
              <li class="footer_titre">Service Clients</li>
                  <ul>
                      <li><a href="#">Livraison gratuite dès 40€</a></li>
                      <li><a href="#">Nous contacter</a></li>
                      <li><a href="#">30 jours pour changer d'avis</a></li>
                      <li><a href="#">Paiement sécurisé</a></li>
                      <li><a href="#">Retour gratuit</a></li>
                      <li><a href="#">La différence remboursée 2X</a></li>
                      <li><a href="#">Avis des consommateurs</a></li>
                  </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>
            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

          </ul>
        </div>

        <img src="https://www.freepngimg.com/thumb/decorative_line_gold/4-2-decorative-line-gold-png-thumb.png">

        <div class="footer_newsletter">
          <label>NEWSLETTER</label><br><br>
          <input class="footer_email_nl" type="email" placeholder="Saisissez votre email" >
          <input class="footer_bouton_nl" type="submit" value="Je m'inscris">
        </div>

    </footer>
</html>
