<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </head>
    <body>
      <nav>

          <input type="text" name="q" placeholder="Rechercher" class="input-text" maxlength="128" autocomplete="off">
          <input type="submit" value="" class="valider">

          <a class="logo" href="{{ path('accueil')}}"><img src="{{ asset('images/boreal_fond_blanc.png')}}"</a>

          <form class="compte">

            {% if not app.user %}
              <a href="{{ path('security_login') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte"></a>
            {% else %}
              <a href="{{ path('security_logout') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte"></a>
            {% endif %}
            <a href="{{ path('afficherPanier') }}"><img src="{{ asset('images/panier.svg') }}" alt="panier" style="width:15%;"></a>
          </form>

          <div class="topnav">
            <a href="{{ path('boreal/femmes')}}">Femmes</a>
            <a href="#">Hommes</a>
            <a href="#">Accessoires</a>
            <a href="{{ path('gestionProduits')}}">Bagages</a>
            <a href="#">Nouveautés</a>
            <a href="#">Marques</a>
            {% if is_granted('ROLE_ADMIN') %}
              <a href="{{ path('gestion') }}">Gestion du site</a>
            {% endif %}
          </div>

        </div>
      </nav>
        <hr style="margin-bottom:50px;">

      <div class="container">
          {% block body %}{% endblock %}

      </div>

      {% block script %}{% endblock %}

    </body>

    <footer>
        <div class="footer_div">
          <ul>
            <div class="footer_info">
              <li class="footer_titre">Service Clients</li>
                  <ul>
                      <li><a href="#">Livraison gratuite dès 40€</a></li>
                      <li><a href="#">Nous contacter</a></li>
                      <li><a href="#">30 jours pour changer d'avis</a></li>
                      <li><a href="#">Paiement sécurisé</a></li>
                      <li><a href="#">Retour gratuit</a></li>
                      <li><a href="#">La différence remboursée 2X</a></li>
                      <li><a href="#">Avis des consommateurs</a></li>
                  </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>
            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

          </ul>
        </div>

        <img src="https://www.freepngimg.com/thumb/decorative_line_gold/4-2-decorative-line-gold-png-thumb.png">

        <div class="footer_newsletter">
          <label>NEWSLETTER</label><br><br>
          <input class="footer_email_nl" type="email" placeholder="Saisissez votre email" >
          <input class="footer_bouton_nl" type="submit" value="Je m'inscris">
        </div>

    </footer>
</html>
