<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

          <input type="text" name="q" placeholder="Rechercher" class="input-text" maxlength="128" autocomplete="off">
          <input type="submit" value="" class="valider">

          <a class="logo" href="{{ path('accueil')}}"><img src="{{ asset('images/boreal_logo.png')}}"</a>

          <form class="compte">

            {% if not app.user %}
              <a href="{{ path('security_login') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte"></a>
            {% else %}
              <a href="{{ path('security_update_account', {'UserId': app.user.getId} ) }}"><img src="{{ asset('images/iconCompte.png') }}" alt="modifCompte"></a>
              <a href="{{ path('security_logout') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="logout"></a>
            {% endif %}
            {% if not app.user %}
              <a href="{{ path('security_login') }}"><img src="{{ asset('images/panier.svg') }}" alt="panier" style="width:15%;"></a>
            {% else %}
              <a href="{{ path('afficherPanier', {'UserId': app.user.getId} ) }}"><img src="{{ asset('images/panier.svg') }}" alt="panier" style="width:15%;"></a>
            {% endif %}
          </form>

          <div class="topnav">
            <ul>

              <!--_________________Femme_________________-->
            	<li><label>Femme</label>
                <ul>
                  <div class="blockcat">
                    <li>Sac à main</li>
                    <div class="scat">
                      <a href="{{ path('boreal/femmes')}}">Sac bandoulière</a><br>
                      <a href="#">Sac shopping</a><br>
                      <a href="#">Sac à dos</a><br>
                      <a href="#">Pochette</a>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Petite maroquinerie</li>
                    <div class="scat">
                      <a href="#">Portefeuille</a><br>
                      <a href="#">Porte-chéquier</a><br>
                      <a href="#">Porte-monnaie</a><br>
                      <a href="#">Porte-carte</a><br>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Business</li>
                    <div class="scat">
                      <a href="#">Porte-documents</a><br>
                      <a href="#">Sacoche ordinateur</a><br>
                    </div>
                  </div>
                </ul>
              </li>

              <!--_________________Homme_________________-->
            	<li><label>Homme</label>
            		<ul>
                  <div class="blockcat">
                    <li>Sac homme</li>
                    <div class="scat">
                      <a href="{{ path('boreal/hommes')}}">Pochette bandoulière</a><br>
                      <a href="#">Pochette main</a><br>
                      <a href="#">Sac ceinture</a><br>
                      <a href="#">Sac à dos</a>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Petite maroquinerie</li>
                    <div class="scat">
                      <a href="#">Portefeuille</a><br>
                      <a href="#">Porte-chéquier</a><br>
                      <a href="#">Porte-monnaie</a><br>
                      <a href="#">Porte-carte</a><br>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Business</li>
                    <div class="scat">
                      <a href="#">Porte-documents</a><br>
                      <a href="#">Sacoche ordinateur</a><br>
                    </div>
                  </div>
            	  </ul>
               </li>


               <!--_________________Bagages_________________-->
            	<li><label>Bagages</label>
                <ul>

                    <div class="blockcat">
                      <li>Valises</li>
                      <div class="scat">
                        <a href="{{ path('boreal/bagages')}}">2 roues</a><br>
                        <a href="#">4 roues</a><br>
                        <a href="#">Cabine</a><br>
                      </div>
                    </div>

                    <div class="blockcat">
                      <li>Sac de voyage</li>
                      <div class="scat">
                        <a href="#">Sac à roulettes</a><br>
                        <a href="#">48 h</a><br>
                      </div>
                    </div>

                    <div class="blockcat">
                      <li>Vanity</li>
                      <div class="scat">
                        <a href="#">Vanity souple</a><br>
                        <a href="#">Vanity rigide</a><br>
                        <a href="#">Trousse de toilette</a><br>
                      </div>
                    </div>

                    <div class="blockcat">
                      <li>Accessoires</li>
                      <div class="scat">
                        <a href="{{ path('boreal/accessoires')}}">Cadenas</a><br>
                        <a href="#">Sangle</a><br>
                      </div>
                    </div>

            	  </ul>
            	</li>


              <!--_________________Marques_________________-->
            	<li><label>Marques</label>
                <ul>
            		</ul>
              </li>

              {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('gestion') }}" class="gest">Gestion du site</a></li>
              {% endif %}
            </ul>
          </div>




      </nav>
        <hr style="margin-bottom:50px;">

      <div class="container">
          {% block body %}{% endblock %}

      </div>

      {% block script %}{% endblock %}

    </body>

    <footer>
        <div class="footer_div">
          <ul>
            <div class="footer_info">
              <li class="footer_titre">Service Clients</li>
                  <ul>
                      <li><a href="#">Livraison gratuite dès 40€</a></li>
                      <li><a href="#">Nous contacter</a></li>
                      <li><a href="#">30 jours pour changer d'avis</a></li>
                      <li><a href="#">Paiement sécurisé</a></li>
                      <li><a href="#">Retour gratuit</a></li>
                      <li><a href="#">La différence remboursée 2X</a></li>
                      <li><a href="#">Avis des consommateurs</a></li>
                  </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>
            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

          </ul>
        </div>

        <img src="https://www.freepngimg.com/thumb/decorative_line_gold/4-2-decorative-line-gold-png-thumb.png">

        <div class="footer_newsletter">
          <label>NEWSLETTER</label><br><br>
          <input class="footer_email_nl" type="email" placeholder="Saisissez votre email">
          <input class="footer_bouton_nl" type="submit" value="Je m'inscris">
        </div>

    </footer>
</html>
