<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('style/style.css') }}"> <!-- Asset permettant de faire appel au fichier externe de css contenu dans public/style -->

        <link href="https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </head>
    <body>
      <!-- Barre de navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

          <!-- Barre de recherche -->
          <input type="text" name="q" placeholder="Rechercher" class="input-text" maxlength="128" autocomplete="off">
          <input type="submit" value="" class="valider">

          <!-- Logo boreal -->
          <a class="logo" href="{{ path('accueil')}}"> <!-- Route renvoyant à l'accueil -->
          <img src="{{ asset('images/boreal_logo2.png')}}" alt="logo" ></a>  <!-- Asset permettant de faire appel aux images contenu dans public/images -->

          <form class="compte">

            {% if not app.user %} <!-- Si la personne n'est pas connecté on affiche un icone renvoyant à la connexion-->

              <a href="{{ path('security_login') }}"><!-- Route renvoyant à la connexion -->
              <img src="{{ asset('images/iconCompte.png') }}" alt="compte"></a> <!-- Asset permettant de faire appel aux images contenu dans public/images -->

            {% else %} <!-- Sinon on affiche une icone renvoyant à la modification du compte et une autre renvoyant à la déconnexion -->

              <a href="{{ path('security_update_account', {'UserId': app.user.getId} ) }}"><!-- Route renvoyant à la modification du compte -->
              <img src="{{ asset('images/edit-user.png') }}" alt="modifCompte"></a> <!-- Asset permettant de faire appel aux images contenu dans public/images -->

              <a href="{{ path('security_logout') }}"> <!-- Route renvoyant à la déconnexion -->
              <img src="{{ asset('images/logout.png') }}" alt="logout"></a><!-- Asset permettant de faire appel aux images contenu dans public/images -->

            {% endif %}

            {% if not app.user %} <!-- Si la personne n'est pas connecté l'icone du panier renvoie à la connexion -->

              <a href="{{ path('security_login') }}"> <!-- Route renvoyant à la connexion -->
              <img src="{{ asset('images/panier.svg') }}" alt="panier" ></a> <!-- Asset permettant de faire appel aux images contenu dans public/images -->

            {% else %} <!-- Sinon l'icone du panier renvoie au panier -->

              <a href="{{ path('afficherPanier', {'UserId': app.user.getId} ) }}"> <!-- Route renvoyant au panier -->
              <img src="{{ asset('images/panier.svg') }}" alt="panier"></a><!-- Asset permettant de faire appel aux images contenu dans public/images -->

            {% endif %}

          </form>

          <div class="topnav">
            <ul>

              <!--_________________Femme_________________-->
            	<li><label>Femme</label>
                <ul>
                  <div class="blockcat">
                    <li>Sac à main</li>
                    <div class="scat">
                      <a href="{{ path('boreal/femmes')}}">Sac bandoulière</a><br> <!-- Route renvoyant à la catégorie femme -->
                      <a href="#">Sac shopping</a><br>
                      <a href="#">Sac à dos</a><br>
                      <a href="#">Pochette</a>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Petite maroquinerie</li>
                    <div class="scat">
                      <a href="#">Portefeuille</a><br>
                      <a href="#">Porte-chéquier</a><br>
                      <a href="#">Porte-monnaie</a><br>
                      <a href="#">Porte-carte</a><br>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Business</li>
                    <div class="scat">
                      <a href="#">Porte-documents</a><br>
                      <a href="#">Sacoche ordinateur</a><br>
                    </div>
                  </div>
                </ul>
              </li>

              <!--_________________Homme_________________-->
            	<li><label>Homme</label>
            		<ul>
                  <div class="blockcat">
                    <li>Sac homme</li>
                    <div class="scat">
                      <a href="{{ path('boreal/hommes')}}">Pochette bandoulière</a><br> <!-- Route renvoyant à la catégorie homme -->
                      <a href="#">Pochette main</a><br>
                      <a href="#">Sac ceinture</a><br>
                      <a href="#">Sac à dos</a>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Petite maroquinerie</li>
                    <div class="scat">
                      <a href="#">Portefeuille</a><br>
                      <a href="#">Porte-chéquier</a><br>
                      <a href="#">Porte-monnaie</a><br>
                      <a href="#">Porte-carte</a><br>
                    </div>
                  </div>

                  <div class="blockcat">
                    <li>Business</li>
                    <div class="scat">
                      <a href="#">Porte-documents</a><br>
                      <a href="#">Sacoche ordinateur</a><br>
                    </div>
                  </div>
            	  </ul>
               </li>


               <!--_________________Bagages_________________-->
            	<li><label>Bagages</label>
                <ul>

                    <div class="blockcat">
                      <li>Valises</li>
                      <div class="scat">
                        <a href="{{ path('boreal/bagages')}}">2 roues</a><br> <!-- Route renvoyant à la catégorie bagages -->
                        <a href="#">4 roues</a><br>
                        <a href="#">Cabine</a><br>
                      </div>
                    </div>

                    <div class="blockcat">
                      <li>Sac de voyage</li>
                      <div class="scat">
                        <a href="#">Sac à roulettes</a><br>
                        <a href="#">48 h</a><br>
                      </div>
                    </div>

                    <div class="blockcat">
                      <li>Vanity</li>
                      <div class="scat">
                        <a href="#">Vanity souple</a><br>
                        <a href="#">Vanity rigide</a><br>
                        <a href="#">Trousse de toilette</a><br>
                      </div>
                    </div>

                    <div class="blockcat">
                      <li>Accessoires</li>
                      <div class="scat">
                        <a href="{{ path('boreal/accessoires')}}">Cadenas</a><br> <!-- Route renvoyant à la catégorie accessoire -->
                        <a href="#">Sangle</a><br>
                      </div>
                    </div>

            	  </ul>
            	</li>


              <!--_________________Marques_________________-->
            	<li><label>Marques</label>
                <ul>
            		</ul>
              </li>

              <!--_________________Contact_________________-->
            	<li><label>Contact</label>
                <ul>
            		</ul>
              </li>

              <!--_________________Qui-sommes-nous_________________-->
            	<li><label>Qui sommes-nous ?</label>
                <ul>
            		</ul>
              </li>

              {% if is_granted('ROLE_ADMIN') %} <!-- Si l'utilisateur est connecté avec un compte admin alors on affiche un onglet supplémentaire vers la gestion du site -->
                <li><a href="{{ path('gestion') }}" class="gest">Gestion du site</a></li> <!-- Route renvoyant à la gestion du site -->
              {% endif %}
            </ul>
          </div>




      </nav>
        <hr style="margin-bottom:50px;">

      <div class="container">
          {% block body %}{% endblock %}

      </div>

      {% block script %}{% endblock %}

    </body>

    <footer>
        <div class="footer_div">
          <ul>
            <div class="footer_info">
              <li class="footer_titre">Service Clients</li>
                  <ul>
                      <li><a href="#">Livraison gratuite dès 40€</a></li>
                      <li><a href="#">Nous contacter</a></li>
                      <li><a href="#">30 jours pour changer d'avis</a></li>
                      <li><a href="#">Paiement sécurisé</a></li>
                      <li><a href="#">Retour gratuit</a></li>
                      <li><a href="#">La différence remboursée 2X</a></li>
                      <li><a href="#">Avis des consommateurs</a></li>
                  </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>
            <div class="footer_info">
              <li class="footer_titre">A propos</li>
              <ul>
                  <li><a href="#">Qui est Boréal ?</a></li>
                  <li><a href="#">Notre boutique</a></li>
                  <li><a href="#">Notre Engagement</a></li>
                  <li><a href="#">Espace entreprises</a></li>
                  <li><a href="#">Foire aux Questions</a></li>
                  <li><a href="#">Politique de Confidentialité</a></li>
                  <li><a href="#">Plan du site</a></li>
              </ul>
            </div>

          </ul>
        </div>

        <img src="https://www.freepngimg.com/thumb/decorative_line_gold/4-2-decorative-line-gold-png-thumb.png">

        <div class="footer_newsletter">
          <label>NEWSLETTER</label><br><br>
          <input class="footer_email_nl" type="email" placeholder="Saisissez votre email">
          <input class="footer_bouton_nl" type="submit" value="Je m'inscris">
        </div>

    </footer>
</html>
