<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('style/style.css') }}">

        <link href="https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700&amp;subset=devanagari,latin-ext" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    </head>
    <body>
      <nav>

          <input type="text" name="q" placeholder="Rechercher" class="input-text" maxlength="128" autocomplete="off">
          <input type="submit" value="" class="valider">

          <a class="logo" href="{{ path('accueil')}}">Boréal</a>


          <form class="compte">
            {% if not app.user %}
              <a href="{{ path('security_login') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte" style="width:15%;"></a>
            {% else %}
              <a href="{{ path('security_logout') }}"><img src="{{ asset('images/iconCompte.png') }}" alt="compte" style="width:15%;"></a>
            {% endif %}
            <a href=""><img src="{{ asset('images/panier.svg') }}" alt="panier" style="width:15%;"></a>
          </form>

          <div class="topnav">
            <a href="{{ path('boreal/femmes')}}">Femmes</a>
            <a href="#">Hommes</a>
            <a href="#">Accessoires</a>
            <a href="{{ path('gestionProduit')}}">Bagages</a>
            <a href="#">Nouveautés</a>
            <a href="#">Marques</a>
          </div>

        </div>
      </nav>
        <hr style="margin-bottom:50px;">

      <div class="container">
          {% block body %}{% endblock %}

      </div>

      {% block script %}{% endblock %}

    </body>

    <footer style="padding-top:100px;height:650px;;background-color:#473130;">
        <div class="footer_div" style="padding-bottom:300px;">
          <ul>
            <div style="float : left; display: inline-block; margin-left:5%">
              <li style="list-style : none;font-weight: bold; color : white;">Service Clients</li>
                  <ul>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Nous contacter</a></li>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Livraison gratuite dès 40€</a></li>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >30 jours pour changer d'avis</a></li>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Paiement sécurisé</a></li>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Retour gratuit</a></li>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >La différence remboursée 2X</a></li>
                      <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Avis des consommateurs</a></li>
                  </ul>
            </div>

            <div style="float : left; display: inline-block; margin-left:5%">
              <li style="list-style : none; font-weight: bold; color : white;">A propos</li>
              <ul>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Qui est Boréal ?</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Notre boutique</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Notre Engagement</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Espace entreprises</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Foire aux Questions</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Politique de Confidentialité</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Plan du site</a></li>
              </ul>
            </div>

            <div style="float : left; display: inline-block; margin-left:5%">
              <li style="list-style : none; font-weight: bold; color : white;">A propos</li>
              <ul>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Qui est Boréal ?</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Notre boutique</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Notre Engagement</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Espace entreprises</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Foire aux Questions</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Politique de Confidentialité</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Plan du site</a></li>
              </ul>
            </div>

            <div style="float : left; display: inline-block; margin-left:5%">
              <li style="list-style : none; font-weight: bold; color : white;">A propos</li>
              <ul>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Qui est Boréal ?</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Notre boutique</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Notre Engagement</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Espace entreprises</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Foire aux Questions</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Politique de Confidentialité</a></li>
                  <li style="list-style : none; "><a href="#"  style="text-decoration : none;color : white;" >Plan du site</a></li>
              </ul>
            </div>

          </ul>
        </div>

        <img src="https://www.freepngimg.com/thumb/decorative_line_gold/4-2-decorative-line-gold-png-thumb.png" style="max-width:100%;margin-left:43%;margin-top:-130px;">

        <div style="text-align:center;">
          <label style="color : white; font-family: 'Playfair Display', serif; font-size:35px;">NEWSLETTER</label><br><br>
          <input type="email" placeholder="Saisissez votre email" style="width:250px; height:51px;">
          <input type="submit" value="Je m'inscris" style="color: white;text-transform: none;background: #DD985C;border-radius: 0;border: none;padding: 0 20px;height: 50px;line-height: 50px;font-weight: 600;min-width: 130px; margin-left:-4px;">
        </div>

    </footer>
</html>
