{% extends 'base.html.twig' %}

{% block body %}

<input class="retour_arriere"type="image" src="{{ asset('images/retour.png') }}" onclick="javascript:history.back()">
  <h2>Gestion du panneau déroulant</h2></br>


  <div class="gestion">

       <h3><a href="{{ path('creerSlider')}}">Créer un panneau déroulant</a></h3>

       <h3><a href="{{ path('modifierSlider')}}">Modifier un panneau déroulant</a></h3>

       <h3><a href="{{ path('supprimerSlider')}}">Supprimer un panneau déroulant</a></h3>

       <h3><a href="{{ path('choisirSlider')}}">Choisir un panneau déroulant</a></h3>

       <h3><a href="{{ path('ajouterImages')}}">Ajouter des images</a></h3>

       <h3><a href="{{ path('supprimerImage')}}">Supprimer une image</a></h3>

       <h3><a href="{{ path('changerVitesse')}}">Changer la vitesse du panneau déroulant</a></h3>

  </div>

{% endblock %}
