{% extends 'base.html.twig' %}

{% block body %}

  <h2>Gestion du slider</h2></br>

  <h3><a href="{{ path('creerSlider')}}">Création slider</a></h3>
  <h3><a href="{{ path('modifierSlider')}}">Modification slider</a></h3>
  <h3><a href="{{ path('supprimerSlider')}}">Suppression slider</a></h3>
  <h3><a href="{{ path('choisirSlider')}}">Choix Slider</a></h3>
  <h3><a href="{{ path('ajouterImages')}}">Ajout images</a></h3>
  <h3><a href="{{ path('changerVitesse')}}">Changement de vitesse du slider</a></h3>


{% endblock %}
