{% extends 'base.html.twig' %}

{% block body %}

<input class="retour_arriere"type="image" src="{{ asset('images/retour.png') }}" onclick="javascript:history.back()">
  <h2>Gestion du slider</h2></br>


  <div class="gestion">

       <h3><a href="{{ path('creerSlider')}}">Création slider</a></h3>

       <h3><a href="{{ path('modifierSlider')}}">Modif slider</a></h3>

       <h3><a href="{{ path('supprimerSlider')}}">Supprimer slider</a></h3>

       <h3><a href="{{ path('choisirSlider')}}">Choix Slider</a></h3>

       <h3><a href="{{ path('ajouterImages')}}">Ajout images</a></h3>

       <h3><a href="{{ path('supprimerImage')}}">Supprimer image</a></h3>

       <h3><a href="{{ path('changerVitesse')}}">Changement de vitesse du slider</a></h3>

  </div>

{% endblock %}
