{% extends 'base.html.twig' %}

{% block body %}

<input class="retour_arriere"type="image" src="{{ asset('images/retour.png') }}" onclick="javascript:history.back()">

  <h2>Créer un slider</h2></br>

  <form action="" id="creerSlider" method="post">

    <div id="selectionImages">

      {% for fichier in fichiersAAfficher %}

        <div class="groupeImg">
          <input type="checkbox" id="casePour{{ fichier['fichier'] }}" name="{{ fichier['index'] }}" value="on">
          <label for="casePour{{ fichier['fichier'] }}">
            {{ fichier['fichier'] }} : <br>
            <img src="{{ asset('gestionSlider/img/' ~ fichier['fichier']) }}" alt="{{ fichier['fichier'] }}">
          </label>
        </div>

      {% endfor %}

    </div>
    <div class="creer">

         <div id="nomSlider">
              <input type="text" name="nomSlider">
         </div>

         <div id="bouton">
              <input type="submit" value="Valider">
         </div>
         
    </div>

  </form>

{% endblock %}
